##1 Series##

In [7]:
import numpy as np 
import pandas as pd 
##IMPORTAMOS NUMPY Y PANDAS

In [10]:
titulos = ["Toy Story 4", "Los Incríbles 2", "Buscando a Dory", "Toy Story 3", "Caco", "Inside Out", "Monsters University", "Casino Royale"]
fecha_lanzamiento = [2015,2018,2016,2010,2017,2015,2013,2006]                           
recaudaciones = [1073,1242,1029,1067,807,857,744,735]
espectadores = [74.91,93.42,76.72,81.35,62.75,68.27,54.74,54.34]
                               ##CREADAS LAS 4 LISTAS

In [11]:
serie_fecha_lanzamiento = pd.Series(fecha_lanzamiento, index = titulos, name = " fecha lanzamiento")
serie_recaudaciones = pd.Series(recaudaciones, index = titulos, name = "recaudaciones")
serie_espectadores = pd.Series(espectadores, index = titulos, name = "espectadores") ##Creadas las 3 series

In [16]:
recaudaciones_ordenadas = serie_recaudaciones.sort_values(ascending= False)
print(recaudaciones_ordenadas) ## Con metodo sort value ordenamos la serie de recaudaciones de mayor a menor

Los Incríbles 2        1242
Toy Story 4            1073
Toy Story 3            1067
Buscando a Dory        1029
Inside Out              857
Caco                    807
Monsters University     744
Casino Royale           735
Name: recaudaciones, dtype: int64

In [25]:
for titulo,recaudacion in serie_recaudaciones.items():
    fecha_lanzamiento = serie_fecha_lanzamiento[titulo]
    espectadores = serie_espectadores[titulo]
    precio_entrada = round(recaudacion/espectadores,2)
    print(f"{titulo}: Es del {fecha_lanzamiento}, recaudó {recaudacion} millones, y tuvo {espectadores} millones de espectadores, {precio_entrada} por entrada") ##Creamos el bucle que recorre la serie recaudaciones para mostrar los distintos apartados por cada titulo

Toy Story 4: Es del 2015, recaudó 1073 millones, y tuvo 74.91 millones de espectadores, 14.32 por entrada
Los Incríbles 2: Es del 2018, recaudó 1242 millones, y tuvo 93.42 millones de espectadores, 13.29 por entrada
Buscando a Dory: Es del 2016, recaudó 1029 millones, y tuvo 76.72 millones de espectadores, 13.41 por entrada
Toy Story 3: Es del 2010, recaudó 1067 millones, y tuvo 81.35 millones de espectadores, 13.12 por entrada
Caco: Es del 2017, recaudó 807 millones, y tuvo 62.75 millones de espectadores, 12.86 por entrada
Inside Out: Es del 2015, recaudó 857 millones, y tuvo 68.27 millones de espectadores, 12.55 por entrada
Monsters University: Es del 2013, recaudó 744 millones, y tuvo 54.74 millones de espectadores, 13.59 por entrada
Casino Royale: Es del 2006, recaudó 735 millones, y tuvo 54.34 millones de espectadores, 13.53 por entrada

In [27]:
serie_precio_medio_entrada = serie_recaudaciones/serie_espectadores
print(serie_precio_medio_entrada) ##calculamos el precio medio de entrada y imprimimos

Toy Story 4            14.323855
Los Incríbles 2        13.294798
Buscando a Dory        13.412409
Toy Story 3            13.116165
Caco                   12.860558
Inside Out             12.553098
Monsters University    13.591524
Casino Royale          13.525948
dtype: float64

In [31]:
pelicula_menor_recaudacion = serie_recaudaciones.idxmin() ##con la variable idxmin en la serie recaudaciones obtenemos la pelicula con menos recaudacion 
print(pelicula_menor_recaudacion)##imprimimos
anyo_menor = serie_fecha_lanzamiento[serie_recaudaciones.index.get_loc(pelicula_menor_recaudacion)]
print(f"{pelicula_menor_recaudacion} es la que menos recaudó y salió en {anyo_menor}")

Casino Royale
Casino Royale es la que menos recaudó y salió en 2006

C:\Users\alvar\AppData\Local\Temp\ipykernel_34772\893001755.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  anyo_menor = serie_fecha_lanzamiento[serie_recaudaciones.index.get_loc(pelicula_menor_recaudacion)]

In [32]:
rango_pelicula = (serie_recaudaciones > 1000) & (serie_espectadores < 75)## filtramos las recaudaciones de la serie para mas de 1000 y la la serie espectadores para menos de 75
print(rango_pelicula)
pelicula_elegida = serie_recaudaciones[(serie_recaudaciones > 1000) & (serie_espectadores < 75)].idxmax()
print(pelicula_elegida)

Toy Story 4             True
Los Incríbles 2        False
Buscando a Dory        False
Toy Story 3            False
Caco                   False
Inside Out             False
Monsters University    False
Casino Royale          False
dtype: bool
Toy Story 4

In [34]:
edad_gonzalo = 30 #creamos la variable de la edad de gonzalo 
edad_gonzalo_en_estreno = edad_gonzalo - (2023 - serie_fecha_lanzamiento) #variable para calcular su edad en cada estreno(edad-(actual-cada año de lanzamiento en la serie))
print(edad_gonzalo_en_estreno)

Toy Story 4            22
Los Incríbles 2        25
Buscando a Dory        23
Toy Story 3            17
Caco                   24
Inside Out             22
Monsters University    20
Casino Royale          13
Name:  fecha lanzamiento, dtype: int64

In [38]:
serie_fecha_lanzamiento["Toy Story 4"]  = 2019
serie_fecha_lanzamiento["Casino Royale"] = 2009
serie_recaudaciones["Monsters University"] = 754 ##corregimos en cada serie su apartado indicado el titulo y el nuevo dato
titulos_corregidos = [titulo.replace("Caco","Coco").replace("Incríbles","Increíbles") for titulo in titulos] #corregimos el nombre de los titulos
serie_recaudaciones = pd.Series(recaudaciones, index = titulos_corregidos).sort_values(ascending = False) #volvemos a modificar la serie recaudaciones para que guarde los datos
serie_espectadores.index = titulos_corregidos
serie_fecha_lanzamiento.index = titulos_corregidos
print(serie_recaudaciones,serie_fecha_lanzamiento)

Los Increíbles 2       1242
Toy Story 4            1073
Toy Story 3            1067
Buscando a Dory        1029
Inside Out              857
Coco                    807
Monsters University     744
Casino Royale           735
dtype: int64 Toy Story 4            2019
Los Increíbles 2       2018
Buscando a Dory        2016
Toy Story 3            2010
Coco                   2017
Inside Out             2015
Monsters University    2013
Casino Royale          2009
Name:  fecha lanzamiento, dtype: int64

## PARTE 2 DATA FRAMES ##

In [39]:
precio = round(serie_recaudaciones/serie_espectadores,2)#redondemos el precio medio de entrada creado anteriormente a dos decimales
precio_medio_entrada = np.array(precio)
precio_medio_entrada  = pd.DataFrame(precio_medio_entrada, columns = ["Entradas"], index = titulos_corregidos)
precio_medio_entrada

                     Entradas
Toy Story 4             13.41
Los Increíbles 2        13.53
Buscando a Dory         12.86
Toy Story 3             12.55
Coco                    13.29
Inside Out              13.59
Monsters University     13.12
Casino Royale           14.32

In [46]:
data = { "lanzamiento": serie_fecha_lanzamiento, "recaudacion": serie_recaudaciones, "espectadores": serie_espectadores} ## para crear las columnas del data frame
dataframe = pd.DataFrame(data)##creamos el data frame
print(dataframe)
anyo_actual = 2023
antiguedad = 10
pelicula_10_anyo = dataframe[dataframe["lanzamiento"] < anyo_actual - antiguedad] ##con booleano que diga true o false con las que sean mas antiguas de 10 años
print(f"la pelicula con más de 10 años: {pelicula_10_anyo}")

dataframe["lanzamiento"] < anyo_actual - antiguedad

                     lanzamiento  recaudacion  espectadores
Buscando a Dory             2016         1029         76.72
Casino Royale               2009          735         54.34
Coco                        2017          807         62.75
Inside Out                  2015          857         68.27
Los Increíbles 2            2018         1242         93.42
Monsters University         2013          744         54.74
Toy Story 3                 2010         1067         81.35
Toy Story 4                 2019         1073         74.91
la pelicula con más de 10 años:                lanzamiento  recaudacion  espectadores
Casino Royale         2009          735         54.34
Toy Story 3           2010         1067         81.35

Buscando a Dory        False
Casino Royale           True
Coco                   False
Inside Out             False
Los Increíbles 2       False
Monsters University    False
Toy Story 3             True
Toy Story 4            False
Name: lanzamiento, dtype: bool

In [47]:
peliculas_mas_65_mas_800 = df[(df["espectadores"] > 65) & (df["recaudacion"] > 800)] ##data drame con las peliculas solo con mas de 65 millines de espectadores y 800 millones de recaudacion
peliculas_mas_65_mas_800

                  lanzamiento  recaudacion  espectadores
Buscando a Dory          2016         1029         76.72
Inside Out               2015          857         68.27
Los Increíbles 2         2018         1242         93.42
Toy Story 3              2010         1067         81.35
Toy Story 4              2019         1073         74.91

In [48]:
df["Ingreso_por_espectador"] = df.recaudacion/df.espectadores ##añadimos la columna ingreso por espactador en el data frame

In [51]:
display(df) ## la mostramos con display(si lo hiciemos con print no saldria bien)

,lanzamiento,recaudacion,espectadores,Ingreso_por_espectador
Buscando a Dory,2016,1029,76.72,13.412409
Casino Royale,2009,735,54.34,13.525948
Coco,2017,807,62.75,12.860558
Inside Out,2015,857,68.27,12.553098
Los Increíbles 2,2018,1242,93.42,13.294798
Monsters University,2013,744,54.74,13.591524
Toy Story 3,2010,1067,81.35,13.116165
Toy Story 4,2019,1073,74.91,14.323855

In [52]:
df_ordenado = df.sort_values(by = "lanzamiento") ##hacemos dataframe ordenado por añao de lanzamiento de mas antiguo a mas nuevo
df_ordenado

,lanzamiento,recaudacion,espectadores,Ingreso_por_espectador
Casino Royale,2009,735,54.34,13.525948
Toy Story 3,2010,1067,81.35,13.116165
Monsters University,2013,744,54.74,13.591524
Inside Out,2015,857,68.27,12.553098
Buscando a Dory,2016,1029,76.72,13.412409
Coco,2017,807,62.75,12.860558
Los Increíbles 2,2018,1242,93.42,13.294798
Toy Story 4,2019,1073,74.91,14.323855

In [54]:
df_ordenado.sort_values(by = "Ingreso_por_espectador", ascending = False) ##ordemamos el data frma por ingreso de espectador de mayor a menor

,lanzamiento,recaudacion,espectadores,Ingreso_por_espectador
Toy Story 4,2019,1073,74.91,14.323855
Monsters University,2013,744,54.74,13.591524
Casino Royale,2009,735,54.34,13.525948
Buscando a Dory,2016,1029,76.72,13.412409
Los Increíbles 2,2018,1242,93.42,13.294798
Toy Story 3,2010,1067,81.35,13.116165
Coco,2017,807,62.75,12.860558
Inside Out,2015,857,68.27,12.553098

In [58]:
df_ordenado.loc["Toy Story 4","lanzamiento"] = 2014
df_ordenado.loc["Casino Royale",lanzamiento"] = 2006
df_ordenado.loc["Monsters University","recaudacion"] = 744 ## mismo metodo pero en dataframe volvemos a modificar los cambios ##no lo entiendo
df_ordenado

,lanzamiento,recaudacion,espectadores,Ingreso_por_espectador,fecha_lanzamiento
Casino Royale,2006.0,735.0,54.34,13.525948,2006.0
Toy Story 3,2010.0,1067.0,81.35,13.116165,NaN
Monsters University,2013.0,744.0,54.74,13.591524,NaN
Inside Out,2015.0,857.0,68.27,12.553098,NaN
Buscando a Dory,2016.0,1029.0,76.72,13.412409,NaN
Coco,2017.0,807.0,62.75,12.860558,NaN
Los Increíbles 2,2018.0,1242.0,93.42,13.294798,NaN
Toy Story 4,2014.0,1073.0,74.91,14.323855,2014.0
Up,2006.0,NaN,NaN,NaN,NaN